---
import { Picture } from 'astro:assets';
import { getEntry } from 'astro:content';
import { getFormats } from '../getFormats';

interface Props {
  id: string;
  description?: string;
}

const pageEntry = await getEntry('pages', Astro.props.id);
const cover = pageEntry?.data.cover?.[0];
const title = pageEntry?.data.title ?? 'Page not found';
const description = Astro.props.description === 'source' ? pageEntry?.data.seoDescription : Astro.props.description;
const fullPath = Astro.props.id.split('/');
const [pageSlug, locale] = (fullPath.pop() ?? '')?.split('_');
const fullSlug = pageSlug === 'index' ? fullPath.join('/') : [...fullPath, pageSlug].join('/')
const localeFragment = locale ?? Astro.currentLocale;
const pageUrl = `/${localeFragment}/${fullSlug}`; // TODO: figure out a fix for entry (to support level of /)
---

<aside class="note-excerpt">
  <a href={pageUrl}>
    <header>
      {cover && <Picture formats={getFormats(cover)} layout="constrained" alt={`${title} cover image`} src={cover} />}
      <h3 class="note-excerpt-title">{title}{!cover && <small> ➔</small>}</h3>
    </header>
    {description && <p class="note-excerpt-text">{description}</p>}
  </a>
</aside>

<style>
  .note-excerpt {
    line-height: 1.5em;
  }
  .note-excerpt header {
    margin-bottom: 1.5rem;
  }
  .note-excerpt figure {
    margin-bottom: 0.5rem;
  }
  .note-excerpt-title {
    font-weight: 600;
  }
  .note-excerpt a {
    text-decoration: none;
    color: #000;
  }

  img {
    max-width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    object-fit: cover;
    border-radius: 8px;
  }
</style>
