---
import { Picture } from 'astro:assets';
import { getFormats } from '../getFormats';
import Breadcrumb from '../components/Breadcrumb.astro';
import OpenGraph from '../components/OpenGraph.astro';
import HeaderBar from '../components/HeaderBar.astro';

interface Props {
  title: string;
  seoDescription: string;
  cover: ImageMetadata[] | undefined | null;
  tags: string[] | undefined | null;
  page: string;
}
const { title, seoDescription } = Astro.props;

const currentLocale = Astro.currentLocale ?? 'en';
const cover = Astro.props.cover?.[0];
---

<!doctype html>
<html lang={currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={seoDescription} />
    <link rel="icon" href="/favicon.ico" />
    <OpenGraph title={title} seoDescription={seoDescription} cover={Astro.props.cover} tags={Astro.props.tags} page={Astro.props.page} />
    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <HeaderBar />
    <Breadcrumb page={Astro.props.page} />
    {
      cover && (
        <Picture
          src={cover}
          alt=""
          formats={getFormats(cover)}
          widths={[640, 320]}
          layout="constrained"
          sizes="(min-width: 481px) 640px, (max-width: 480px) 320px"
          width={640}
          height={360}
          class="cover"
          loading="eager"
          fetchpriority="high"
        />
      )
    }
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>
<style is:global>
  html {
    font-family:
      -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: #f6f6f6;
    margin: 0;
  }
  body {
    margin: 0;
  }
  code {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  }
  main {
    margin: auto;
    box-sizing: content-box; /* Ensures width is not including padding */
    max-width: 1120px;
    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 3rem;
    margin-bottom: 2rem;
  }
  .cover {
    border-radius: 12px;
  }
  @media screen and (max-width: 480px) {
    .cover {
      max-width: 320px;
      max-height: 180px;
    }
  }
  picture:has(.cover) {
    display: flex;
    margin: 0.5rem 0;
    justify-content: center;
  }

  table {
    width: 100%;
  }

  tr:has(th) {
    background-color: #f6f6f6;
  }

  td,
  th {
    padding: 0.5rem;
  }

  pre {
    display: block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0.5rem 1rem;
  }

  p:has(a:first-child:last-child > picture) {
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
  }
</style>
